/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}
body {
  width: 100%;
}
p {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.2rem;
  margin: 10px 0px;
}
li {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 10px;
}
h2 {
  font-size: 2rem;
  color: #8e9694;
  letter-spacing: 2px;
}
h4 {
  font-size: 1.2rem;
}
.main-container {
  width: 1000px;
  margin: auto;
}
@media (max-width: 500px) {
  .main-container {
    width: 100%;
  }
}
/* -----Header----- */
nav {
  display: none;
}
@media (max-width: 500px) {
  nav {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
  }
}
@media (max-width: 500px) {
  nav a {
    text-decoration: none;
    color: black;
  }
}
header {
  background-color: #2c3d4c;
  width: 100%;
  height: 17vh;
  display: flex;
  align-items: center;
}
header .logo {
  width: 30%;
  display: flex;
  justify-content: center;
}
header .logo img {
  width: 40%;
  height: 40%;
}
header .heading {
  width: 70%;
}
header .heading h1 {
  font-size: 4rem;
  margin: 10px;
  color: #fbfbfb;
}
@media (max-width: 500px) {
  header .heading h1 {
    font-size: 1.5rem;
  }
}
header .heading p {
  font-size: 1.5rem;
  margin: 10px;
  color: #fbfbfb;
}
@media (max-width: 500px) {
  header .heading p {
    font-size: 1rem;
  }
}
/* -----SECTION----- */
.section-container {
  display: flex;
}
@media (max-width: 500px) {
  .section-container {
    flex-direction: column;
  }
}
.section-container .info {
  width: 40%;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .section-container .info {
    width: 100%;
  }
}
.section-container .info h2 {
  margin-bottom: 10px;
}
.section-container .info div {
  margin: 20px 0px;
}
.section-container .info .personal-info {
  width: 80%;
}
.section-container .info .contact {
  width: 80%;
}
.section-container .info .education {
  width: 80%;
}
.section-container .work {
  width: 60%;
  background-color: #e5e5e5;
  padding: 0px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .section-container .work {
    width: 100%;
  }
}
.section-container .work div {
  margin: 20px 0px;
}
.section-container .work .skills {
  width: 90%;
}
.section-container .work .experience {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
